<div class="pageTitle">
  <h1>Repos</h1>
</div>

<div class="toolbar"> 
<!--    
  <div class="leftItem regularButton">
    <a href="<%= url_for :controller => :app, :action => :index %>">Home</a>
  </div>
-->
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :refresh %>">Refresh</a>
  </div>
</div>

<div class="content">
  <ul>
    <% @repos.each do |repo| %>
    
        <li>
          <a href="<%= url_for :action => :show, :id => repo.object %>">
            <span class="title"><%= repo.name %></span><span class="disclosure_indicator"></span>
          </a>
        </li>
    
    <% end %>
  </ul>
</div>