<div class="pageTitle">
  <h1>GitHub Mobile</h1>
</div>

<div class="toolbar">
  <% if $user.nil? %>
      <div class="rightItem regularButton">
        <a href="<%= url_for :controller => :Settings, :action => :login %>">Login</a>
      </div>
  <% else %>
        <!-- TODO: If logged in show the small gravatar image -->  
  <% end %>
</div>

<div class="content">
  <ul>
      <li>
          <a href="<%= url_for :controller => :Repo, :action => :index %>"><span class="title">Repositories</span><span class="disclosure_indicator"/></a>
      </li>
      <li>
          <a href="<%= url_for :controller => :Settings, :action => :login %>"><span class="title">Next</span><span class="disclosure_indicator"/></a>
      </li>
  </ul>
</div>